{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar">
    
  {% if page.author_profile or layout.author_profile %}
    <section class="sidebar-section sidebar-section--profile">
      {% include author-profile.html %}
    </section>
  {% endif %}
    
  {% if page.sidebar %}
    <section class="sidebar-section sidebar-section--nav">
      {% for s in page.sidebar %}
        {% if s.image %}
          <img src="{{ s.image | relative_url }}"
               alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
        {% endif %}
        {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
        {% if s.text %}{{ s.text | markdownify }}{% endif %}
        {% if s.nav %}{% include nav_list nav=s.nav %}{% endif %}
      {% endfor %}
      {% if page.sidebar.nav %}
        {% include nav_list nav=page.sidebar.nav %}
      {% endif %}
    </section>
  {% endif %}
  <section id="theme-switcher-section" class="sidebar-section sidebar-section--theme">
    <h3>Theme Options</h3>
    <button id="theme-white">White Theme</button>
    <button id="theme-black">Black Theme</button>
    <button id="theme-default">Default Theme</button>
  </section>
    

  </div>
  
{% endif %}
