---
layout: archive
permalink: /categories/:name/ 
---

{{ content }}

{% include posts-taxonomy.html taxonomies=site.categories %}


</style>

.post-categories{
  color:rgb(246, 246, 93);
  padding: 3px 5px;
  font-size: 0.77em;
  font-weight: 600;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(216, 235, 208, 0.6);
  display: inline-block;    /* 宽度由内容决定 */
  background: rgba(51, 101, 200, 0.411); /* 半透明背景（示例使用50%黑）*/
}
.post-tags{
  color:rgb(162, 68, 200);
  padding: 1px 6px;
  font-size: 0.7em;
  font-weight: 600;
  border-radius: 8px;
  
  box-shadow: 0 3px 10px rgba(210, 147, 147, 0.6);
  display: inline-block;    /* 宽度由内容决定 */
  background: rgba(205, 41, 60, 0.419); /* 半透明背景（示例使用50%黑）*/
}
</style>